@(tasks:Seq[models.Task])
@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@template("taskList") {
	@helper.form(action = routes.Application.taskSubmit) {
		<input name="id" type="hidden" >
    	 <input name="name" type="text">
    	 <input name="ticket" type="text">
    	<input type="submit">
    }
    @if(!tasks.isEmpty){
    	<table>
    		<tbody>
    			@for(task <- tasks){
    				<tr>
    				<td>@task.id</td>
    				<td>@task.name</td>
    				<td>@task.ticket</td>
    				</tr>
    			}
    		</tbody>
    	</table>
    }
}